<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Movies Matchmaker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/display_movies.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/lozad@latest"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        let movies = {{ movies|tojson }};
        let genre1Movies = {{ genre1|tojson }};
        let genre2Movies = {{ genre2|tojson }};
        let actorMovies = {{ actorMovies|tojson }};

    </script>
    <script src="{{ url_for('static',filename='app.js') }}" defer></script>
</head>
<body class="preload">

<!-- navbar section -->
<div class="nav">
    <div class="nav_left">
        <a href="/">
            <img class="nav_logo" src="/static/img/logo.png" alt="">
        </a>
    </div>
    <button class=".nav_right .nav_login" onclick="window.location.href = '{{ url_for("login") }}'">Login</button>
</div>


<!-- banner section -->
<header id="banner">
    <div class="banner_gradient"></div>
    <div id="banner_contents">
        <h1 id="banner_title"></h1>
        <div id="banner_buttons">
            <button id="banner_button" class="play" onclick="launchMoviePlayer()">Play</button>
            <button id="banner_button">My List</button>
        </div>
        <p id="banner_description"></p>
    </div>
    <div class="banner_fadeBottom"></div>
</header>


<!-- rows -->
<div id="headrow">
    <div class="row">
        <h2 class="row_title"></h2>
        <div class="row_posters" onclick="changeMovie()"></div>
    </div>
</div>

<div class="modal" id="modal">
    <div class="modal-header">
        <img src="null" alt="img">
        <div>
            <div class="title">Example Modal</div>
            <button id="modal_button_list">Add to List</button>
            <button id="modal_button">Expand</button>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-info">
            <div class="modal-year"></div>
            <div class="modal-genre"></div>
        </div>
        <div class="modal-desc"></div>
    </div>

</div>
<div id="overlay"></div>

<script>
    window.addEventListener("scroll", function () {

        var nav = document.querySelector(".nav");
        nav.classList.toggle("active", window.scrollY > 0);
    })
</script>
</body>
</html>