<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Movies Matchmaker</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/display_movies.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <script src="https://cdn.jsdelivr.net/npm/lozad@latest"></script>
    <script>
        let movies = {{ movies|tojson }};
        let genre1Movies = {{ genre1|tojson }};
        let genre2Movies = {{ genre2|tojson }};
        let actorMovies = {{ actorMovies|tojson }};
    </script>
    <script src="{{ url_for('static',filename='script/app.js') }}" defer></script>
</head>
<body class="preload">

<!-- loading screen -->
<div id="loading" style="display: none;">
    <div id="load">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo">Loading Info</div>
</div>
<!-- navbar section -->
<div class="nav">
    <div class="nav_left">
        <a href="/">
            <img class="nav_logo" src="/static/img/logo.png" alt="">
        </a>

    </div>
    <div class="nav_right_buttons">
        <form class="search" autocomplete="off" action="{{ url_for('recommend_movies') }}">
            <input type="text" name="movie" list="movies" placeholder="Search here..." required>
            <button type="submit">Search</button>
        </form>
        <button class=".nav_right .nav_list" id="navHome"
                onclick="window.location.href = '{{ url_for("home") }}'">Home
        </button>
        {% if session['logged_in'] %}
            <button class=".nav_right .nav_list" id="navMyList"
                    onclick="window.location.href = '{{ url_for("my_list") }}'">My List
            </button>
            <button class=".nav_right .nav_login" id="navLogin"
                    onclick="window.location.href = '{{ url_for("logout") }}'">Sign Out
            </button>
        {% else %}
            <button class=".nav_right .nav_login" id="navLogin"
                    onclick="window.location.href = '{{ url_for("login") }}'">Sign In
            </button>
        {% endif %}
    </div>

    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox"/>

        <!--
        Some spans to act as a hamburger.

        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
            {% if session['logged_in'] %}
                <a href="{{ url_for('home') }}">
                    <li>Home</li>
                </a>
                <a href="{{ url_for('recommend_movies') }}">
                    <li onclick="showLoadingOverlay()">Trending Movies</li>
                </a>
                <a href="{{ url_for('my_list') }}">
                    <li>My List</li>
                </a>
                <a href="{{ url_for('logout') }}">
                    <li>Sign Out</li>
                </a>
            {% else %}
                <a href="{{ url_for('home') }}">
                    <li>Home</li>
                </a>
                <a href="{{ url_for('recommend_movies') }}">
                    <li onclick="showLoadingOverlay()">Trending Movies</li>
                </a>
                <a href="{{ url_for('login') }}">
                    <li>Sign In</li>
                </a>
            {% endif %}
        </ul>
    </div>
</div>


<!-- banner section -->
<header id="banner">
    <div class="banner_gradient"></div>
    <div id="banner_contents">
        <h1 id="banner_title"></h1>
        <div id="banner_buttons">
            <button id="banner_play" class="play">Play</button>
            <button id="banner_button_list">Add to List</button>
        </div>
        <p id="banner_description"></p>
    </div>
    <div class="banner_fadeBottom"></div>
</header>


<!-- rows -->
<div id="rowOutline">
    <!-- Rows go here -->
</div>


<script>
    // used for scrolling
    window.addEventListener("scroll", function () {

        var nav = document.querySelector(".nav");
        nav.classList.toggle("active", window.scrollY > 0);
    })

    function showLoadingOverlay() {
        let loadingOverlay = document.getElementById('loading');
        loadingOverlay.style.display = 'flex';
    }
</script>
</body>
</html>


<!-- modal section, offscreen when inactive -->
<div class="modal" id="modal">
    <div class="modal-header">
        <img src="null" alt="img">
        <div class="title">Example Modal</div>
        <button id="modal_button_list">Add to List</button>
        <button id="modal_button">Expand</button>
        <div id="modal_fadeBottom"></div>
    </div>
    <div class="modal-body">
        <div class="modal-info">
            <div class="modal-year"></div>
            <div class="modal-genre"></div>
        </div>
        <div class="modal-desc"></div>
    </div>
</div>
<div id="overlay"></div>