<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Matchmaker</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/minisearch@6.1.0/dist/umd/index.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static',filename='autocomplete.js') }}" defer></script>
</head>
<body>
<nav class="nav">
    <img src="static/img/logo.png" id="logo" alt="Logo">
    <div id="headerButtons">
        <button id="leftButton" onclick="window.location.href = '{{ url_for("search_movies") }}'">Trending Movies
        </button>
        <button id="rightButton" onclick="window.location.href = '{{ url_for("login") }}'">
            Login
        </button>
    </div>
</nav>
<section class="title">
    <h1 class="mainText"> Can't Decide? Enter a great movie and let us do the work!</h1>
    <p id="mainTextExtra"> Recommendations based on your favorite movie</p>
    <form class="search" autocomplete="off" action="{{ url_for('search_movies') }}">
        <input type="text" name="movie" list="movies" placeholder="Search here..." required>
        <button type="submit">Search</button>
        <ul id="ul"></ul>
    </form>
</section>
</body>
</html>
