<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Matchmaker</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Find your perfect movie match with Movies Matchmaker. Our app offers custom recommendations, an intuitive search bar, and a modern display. Keep track of your favorites and access detailed information about movies.">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/minisearch@6.1.0/dist/umd/index.min.js" defer></script>
    <script src="{{ url_for('static',filename='script/autocomplete.js') }}" defer></script>
</head>
<body>

<div id="loading" style="display: none;">
    <div id="load">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo">Finding your custom picks</div>
</div>
<nav class="nav">
    <img src="static/img/logo.png" id="logo" alt="Logo">
    <div id="headerButtons">
        {% if session['logged_in'] %}
            <button onclick="(function() { window.location.href = '{{ url_for("search_movies") }}'; let loadingOverlay = document.getElementById('loading'); loadingOverlay.style.display = 'flex'; })()">
                Trending Movies
            </button>
            <button id="rightListButton" onclick="window.location.href = '{{ url_for("my_list") }}'">My List</button>
            <button id="rightButton" onclick="window.location.href = '{{ url_for("logout") }}'">Sign Out</button>
        {% else %}
            <button onclick="(function() { let loadingOverlay = document.getElementById('loading'); loadingOverlay.style.display = 'flex'; window.location.href = '{{ url_for("search_movies") }}'; })()">
                Trending Movies
            </button>
            <button id="rightButton" onclick="window.location.href = '{{ url_for("login") }}'">Sign in</button>
        {% endif %}
    </div>
</nav>
<section class="title">
    <h1 class="mainText"> Can't Decide? Enter a great movie and let us do the work!</h1>
    <p id="mainTextExtra"> Recommendations based on your favorite movie</p>
    <form class="search" autocomplete="off" action="{{ url_for('search_movies') }}">
        <input type="text" name="movie" list="movies" placeholder="Search here..." required>
        <button type="submit"
                onclick=" let loadingOverlay = document.getElementById('loading'); loadingOverlay.style.display = 'flex';">
            Search
        </button>
        <ul id="ul"></ul>
    </form>
</section>
</body>
</html>
