<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/display_movies.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/my_list.css') }}">
    <title>Movies Matchmaker</title>
    <script src="https://cdn.jsdelivr.net/npm/lozad@latest"></script>
    <script>
        let movies = {{ movies|tojson }};
    </script>
    <script src="{{ url_for('static',filename='script/myList.js') }}" defer></script>
</head>
<body class="preload">

<!-- navbar section -->
<div class="nav">
    <div class="nav_left">
        <a href="/">
            <img class="nav_logo_list" src="/static/img/logo.png" alt="">
        </a>
    </div>
    <div class="nav_right_buttons_list">
        <button class=".nav_right .nav_list" id="navHomeList"
                onclick="window.location.href = '{{ url_for("home") }}'">Home
        </button>
        <button id="trendingButtonList" onclick="window.location.href = '{{ url_for("search_movies") }}'">Trending Movies
        </button>
        {% if session['logged_in'] %}
            <button class=".nav_right .nav_login" onclick="window.location.href = '{{ url_for("logout") }}'">Sign Out
            </button>
        {% else %}
            <button class=".nav_right .nav_login" onclick="window.location.href = '{{ url_for("login_screen") }}'">Sign In
            </button>
        {% endif %}
    </div>
</div>
<!-- rows -->
<div id="rowOutlineList">
    <div class="row">
        <h2 class="row_title row_title_list"></h2>
        <div class="row_posters_list"></div>
    </div>
</div>
<script>
    window.addEventListener("scroll", function () {

        var nav = document.querySelector(".nav");
        nav.classList.toggle("active", window.scrollY > 0);
    })
</script>
</body>
</html>