@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms;
    z-index: 10;
    width: 70%;
    max-width: 80%;
    color: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    position: relative;
    padding-bottom: 42.857%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.modal-header img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.youtube-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1.4);
    transition: opacity 1s;
    opacity: 0;

}

.modal-header .title {
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    position: absolute;
    margin-bottom: 1rem;
    bottom: 0;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 1% 1% 1% 2%;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    max-width: 75%;
}


#modal_button {
    z-index: 11;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    color: white;
    margin-right: 1rem;
}

.modal-body {
    background-color: rgb(20, 20, 20, 1);
    border-radius: 0 0 10px 10px;
    display: flex;
    padding-left: 2%;
    padding-bottom: 3%;
    flex-direction: column;
    justify-content: space-between;
}

#modal_button_list {
    z-index: 11;
    position: absolute;
    right: 8rem;
    bottom: 0;
    margin-bottom: 2rem;
    height: auto;
}

.modal-header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 15%;
    background-image: linear-gradient(to top, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0));
}

.modal-info {
    display: flex;
    gap: 2%;

}

.modal-desc {
    margin-top: 1%;
    max-width: 80%;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

.modal-genre {
    margin-top: 1%;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', sans-serif;
}

.modal-year {
    margin-top: 1%;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', sans-serif;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

body, html {
    overflow-x: hidden;
}

body {
    background-color: #111;
}

body.preload * {
    animation-duration: 0s;
    -webkit-animation-duration: 0s;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.nav {
    position: fixed;
    top: 0;
    padding: 2rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all .5s;
}

.nav.active {
    background-color: #111;
}

.nav_logo {
    width: 180px
}

.nav_right {
    position: fixed;
    right: 20px;
    display: flex;
    margin-right: 10px;
}

.nav_login {
    width: 35px;
    margin-right: 25px;
    color: white;
}

.nav_list {
    width: 35px;
    color: white;
}

#banner {
    color: white;
    outline: black thick;
    background-position: 0 35%;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-bottom: -4rem;
}

.banner_gradient {
    position: absolute;
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to right, black 30%, transparent);
    opacity: 90%;
    z-index: -1;
    pointer-events: none;
}

#banner_contents {
    margin-left: 2rem;
    padding-top: 5rem;
    z-index: 2;

}

#banner_title {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 800;
    max-width: 55%;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#banner_description {
    line-height: 1.5;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 50%;
    height: 80px;
}

button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    background-color: rgba(51, 51, 51, .5);
    padding: .5rem 2rem;
    white-space: nowrap;
}

button:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all .3s;
}

.banner_fadeBottom {
    height: 7.4rem;
    background: linear-gradient(
            180deg,
            transparent,
            rgba(37, 37, 37, .61),
            #111
    );
}

.row {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    color: white;
    padding-bottom: 1.5rem;
    position: relative;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    scroll-behavior: smooth;
}


.row_posters::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    padding: 5rem 1rem;
    cursor: pointer;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 200ms;
}

.scroll-button.active {
    opacity: 1;
}


.scroll-button.prev {
    left: -2rem;
}

.scroll-button.next {
    right: -3rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 300ms;
}

.row_poster:hover {
    transform: scale(1.11);
    opacity: 1;

}

.row_title {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-left: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}


@media only screen and (max-width: 1250px) {
    #banner {
        margin-bottom: -2rem;
    }

    .nav_logo {
        margin-left: 1rem;
    }

    #banner_contents {
        margin-left: 3rem;
        padding-top: 80px;
        height: 210px;
    }

    #banner_title {
        font-size: 1.5rem;
    }

    #banner_description {
        font-size: .9rem;
        max-width: 65%;
    }

    .modal {
        width: 75%;
    }

    .modal-header .title {
        margin-bottom: 1rem;
        font-size: 3rem;
        max-width: 60%;
    }

    .modal-desc {
        max-width: 95%;
    }


    #modal_button, #modal_button_list {
        margin-bottom: 1.4rem;
        background-color: transparent;
    }

    #modal_button_list {
        margin-right: -3rem;
    }

}

@media only screen and (max-width: 768px) {
    .modal {
        width: 80%;
    }

    .modal-header .title {
        margin-bottom: 1rem;
        font-size: 2rem;
        max-width: 60%;
    }

    #modal_button {
        position: relative;
        right: 1rem;
        top: 1rem;
        font-size: small;
    }

    #modal_button_list {
        position: relative;
        right: 1rem;
        top: 1rem;
    }

    .modal-body {
        font-size: small;
    }

    #muteButton {
        bottom: .8rem;
    }

    .modal-desc {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .modal-genre {
        font-size: 1rem;
    }

    .modal-year {
        font-size: 1rem;

    }

    .nav_logo {
        position: absolute;
        margin-left: -1rem;
        top: 1rem;
    }

    .nav_right_buttons {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }


    #banner_contents {
        margin-left: 3rem;
        padding-top: 4rem;
        margin-right: 0;
        margin-bottom: -5%;
    }

    #banner_title {
        font-size: 1.5rem;
        max-width: 80%;
    }

    .banner_gradient {
        width: 80%;
        background-image: linear-gradient(to right, black 50%, transparent);
    }

    #banner {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: -2rem;
    }

    #banner_description {
        max-width: 90%;
        padding-top: 0;
    }

    #banner_buttons {
        padding-bottom: 1rem;
    }

    .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    #banner_contents {
        margin-left: 1rem;
    }

    .nav__left {
        margin-left: -6.5%;
    }

    .nav__right {
        margin-right: -5%;
    }

    .nav_active {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .nav {
        padding-bottom: 4rem;
    }

    .modal-header .title {
        margin-bottom: 1rem;
        font-size: 1rem;
        max-width: 60%;
    }

    .nav_right_buttons {
        position: static;
    }

    #banner_play {

    }

    #banner_button_list {
    }

    #navLogin {
        position: absolute;
        top: 1rem;
        right: 1rem
    }

    #navMyList {
        position: absolute;
        top: 3.2rem;
        right: 1rem
    }
}




