body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.logo img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 200px;
    height: auto;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 28rem;
    height: 36rem;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    padding: 20px 68px 40px 68px;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 1rem;
}

.container #username {
    color: white;
    border: 0;
    background-color: rgba(50, 50, 50);
    height: 50px;
    font-size: 16px;
    padding: 20px 20px 20px;
    border-radius: 4px;
}

.container .password {
    border: 0;
    background-color: rgba(50, 50, 50);
    color: white;
    height: 50px;
    font-size: 16px;
    padding: 20px 20px 20px;
    border-radius: 4px;
    margin-top: 16px;
}

.container button {
    border: 0;
    background-color: #e50914;
    color: white;
    font-weight: 500;
    height: 50px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
    padding: 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember {
    display: flex;
    justify-content: left;
    align-items: center;
}

.remember p {
    color: #b3b3b3;
    margin-left: 4px;
    font-size: 13px;
}

.bottombutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottombutton a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 13px;
}

.other-login {
    cursor: pointer;
}

.other-login div:nth-child(1) {
    display: flex;
    align-items: center;
}

.other-login div img {
    width: 20px;
    height: 20px;
}

.other-login div p {
    color: #737373;
    font-size: 13px;
    margin-left: 8px;
}

.firsttime div:nth-child(1) {
    display: flex;
}

.firsttime div p {
    color: #737373;
    margin-top: 16px;
    font-size: 16px;
    margin-right: 8px;
}

.firsttime div a {
    text-decoration: none;
    color: white;
    margin-top: 16px;
    font-size: 16px;
}
