@import url('https://fonts.googleapis.com/css2?family=Lato&family=Bebas+Neue&display=swap');

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    color: white;
}

body, html {
    overflow: hidden;
}

.sign {
    position: fixed;
    font-weight: bold;
    color: #fff;
}

.sign a {
    color: #fff;
}

.sign a:hover {
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

#logo {
    width: 200px;
    height: 33px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerButtons {
    display: flex;
    gap: .5rem;
}

button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    background-color: rgba(51, 51, 51, .8);
    padding: .5rem 2rem;
    white-space: nowrap;
}

button:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all .3s;
}

.title {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainText {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0.5rem;

}

#mainTextExtra {
    padding-bottom: 1rem;
    text-align: center;
    font-style: italic;
}

.search {
    width: 500px;
    height: 40px;
    background: #444;
    background: rgba(0, 0, 0, .2);
    border-radius: 3px;
    border: 1px solid #fff;
    padding-bottom: 20px;
}

.search input {
    align-content: center;
    width: 378px;
    float: left;
    padding: 12px;
    color: #ccc;
    border: 0;
    background: transparent;
}

.search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    justify-content: center;
}

.search button:hover {
    background-color: rgba(0, 0, 0, .40);
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    width: 500px;
    background-color: rgba(0, 0, 0, .60);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
}

li {
    padding: 12px;
    transition: background-color 100ms ease-in-out;
}

li:hover,
li.selected {
    background-color: #b20303;
}


@media only screen and (max-width: 768px) {
    #logo {
        width: 10rem;
        height: auto;
    }

    .nav {
        margin: auto -1rem auto -1rem;
    }

    button {
        padding: .5rem 1rem;

    }

    button#leftButton {
        position: absolute;
        top: 3rem;
        width: 10.2rem;
    }

    button#rightButton {
        width: 5rem;
    }

    .search {
        width: 100%;
    }

    .search input {
        width: 75%;
    }

    .search button {
        width: 25%;
    }

    ul {
        width: 83%;
    }

    .mainText {
        margin-bottom: 4px;
    }
}

/* Loading courtesy of https://codepen.io/alimirayman/pen/XKOZOL*/
#loading {
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(20, 20, 20);
}

#loading #load {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 180px;
}

#loading #load span {
    height: 20px;
    width: 20px;
    background: #ccc;
    border-radius: 10px;
}

#loading #load span:nth-child(1) {
    background: #8B0000;
    animation: extend 1s ease-in-out infinite;
}

#loading #load span:nth-child(2) {
    background: #B22222;
    animation: extend 1s ease-in-out 0.15s infinite;
}

#loading #load span:nth-child(3) {
    background: #DC143C;
    animation: extend 1s ease-in-out 0.30s infinite;
}

#loading #load span:nth-child(4) {
    background: #FF6347;
    animation: extend 1s ease-in-out 0.45s infinite;
}

#loading #load span:nth-child(5) {
    background: #FFB6C1;
    animation: extend 1s ease-in-out .60s infinite;
}

#loading .logo {
    display: block;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 1rem;
    color: #ecf0f1;
}

@keyframes disappear {
    0% {
        opacity: 1;
        height: 100vh;
    }

    99% {
        height: 100vh;
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes extend {
    0%, 80% {
        height: 20px;
    }

    40% {
        height: 60px;
    }
}



@media only screen and (max-width: 450px) {
    #loading .logo {
        font-size: 16px;
    }
    #headerButtons{
        display: flex;
        flex-direction: column;
    }
    nav{
        align-items: start;
    }
    .search input {
        width: 70%;
    }

    .search button {
        width: 30%;
    }

    #headerButtons {
        padding-right: 10px;
    }
    button#rightButton{
        width: 128px;
    }
    button#leftButton{
        width: 128px;
    }

}





